<% layout('/layout/boilerplate') %>

<form
  method="POST"
  action="/listings/<%= listing._id %>?_method=PUT"
  novalidate
  class="needs-validation"
  enctype="multipart/form-data"
>
  <div class="row">
    <div class="col-6 offset-3">
      <br /><br />
      <h3>Edit Your Listing</h3>

      <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">title is required</div>
      </div>

      <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">a valid description is required</div>
      </div>
      <div class="mb-3">
        <label for="image URL/Link" class="form-label"
          >Original Image</label
        >
        <img
          src="<%= originalImageUrl %>"
          class="card-img-top show-img"
          alt="<%= listing._id %> image"
        />
      </div>
      <div class="mb-3">
        <label for="image URL/Link" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>
      <div class="row">
        <div class="mb-3 col-md-5">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-secondary col-md-4 dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Choose Category
            </button>
            <ul class="dropdown-menu dropdown-menu-end drop-drop">
              <li>
                <button class="dropdown-item" type="button">Rooms</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Iconic Cities
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Mountains</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Castles</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Amazing Pools
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Camping</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Farms</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Artic</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Hotel</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Fallout</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3 col-md-4">
          <input
            name="listing[category]"
            placeholder="category..."
            type="text"
            class="form-control category-input"
            value="<%= listing.category %>"
            readonly
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="Price" class="form-label">Price</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">a valid price is required</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="Country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">a valid country is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">a valid location is required</div>
      </div>

      <button class="btn btn-dark edit-btn">Edit</button>
    </div>
  </div>
</form>
<br /><br />

<script src="/scripts/category.js"></script>
