<% layout('/layout/boilerplate') %>

<form
  method="POST"
  action="/listings/<%= listing._id %>?_method=PUT"
  novalidate
  class="needs-validation"
  enctype="multipart/form-data"
>
  <div class="row">
    <div class="col-6 offset-3">
      <br /><br />
      <h3>Edit Your Listing</h3>

      <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">title is required</div>
      </div>

      <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">a valid description is required</div>
      </div>
      <div class="mb-3">
        <label for="image URL/Link" class="form-label">Original New Image</label>
        <img
          src="<%= originalImageUrl %>"
          class="card-img-top show-img"
          alt="<%= listing._id %> image"
        />
      </div>
      <div class="mb-3">
        <label for="image URL/Link" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="Price" class="form-label">Price</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">a valid price is required</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="Country" class="form-label">Country</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">a valid country is required</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">a valid location is required</div>
      </div>

      <button class="btn btn-dark edit-btn">Edit</button>
    </div>
  </div>
</form>
<br /><br />
